@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: white;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}
.errormail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    height: 300px;
    background-color: white;
    color: black;
    position: absolute;
    top: -80%;
    left: 40%;
    transition: .5s
}
.errormail button {
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.errormail span{
    color: black;
}
.errormail> :nth-child(2){
    font-weight: 700;
    font-size: 18px;
}
.homebanner {
    /* border: 1px solid red; */
    background: url('assets/img/bg.jpg') center/cover;
    /* opacity: .44; */
    width: 100%;
    height: 94vh;
    /* z-index: 0; */
}

.homebanner::before {
    content: '';
    position: absolute;
    background: linear-gradient(268deg, transparent, #000F);
    width: 12%;
    height: 100vh;
    left: 10;
    bottom: 0;
    /* z-index: -1; */
}
.homebanner::after {
    content: '';
    position: absolute;
    background: linear-gradient(94deg, transparent, #000F);
    width: 16%;
    height: 100vh;
    right: -4px;
    /* border: 1px solid red; */
    bottom: 0;
    /* z-index: -1; */
}

.navbar {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    width: 75%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    z-index: 999;
}

.logo {
    /* border: 1px solid yellow; */
    width: 200px;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.navopt {
    /* border: 1px solid green; */
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.langopt button {
    background-color: rgb(32, 28, 28, .3);
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 86px;
    height: 24px;
}

.signopt button {
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    outline: none;
    border: none;
    font-size: 16px;
}

.bannercontent {
    background-color: rgba(20, 20, 20, 0.5);
    width: 100%;
    height: 691px;
    margin-top: -60px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    z-index: 999;
 
}

.bannercontent> :first-child {
    color: white;
    font-weight: 900;
    font-size: 48px;
}

.bannercontent>  :nth-child(2){
    font-weight:400;
    color: white;
    font-size: 24px;
}
.bannercontent > :nth-child(3){
    font-weight:400;
    color: white;
    font-size: 16px;
}
.contentebtn input{
    height: 56px;
    width: 374px;
    color: white;
    background-color: rgb(42, 36, 36,.8);
    border: 0.5px solid white;
    outline: none;
    padding-left: 20px;
}
.contentebtn button{
    /* margin-top: 10px; */
    height: 57.6px;
    width: 203px;
    color: white;
    background-color: red;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 500    ;
}
.contentebtn{
    /* border: 5px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.seperation{
    width: 207vh;
    height: 0px;
    border: 5px solid #3a3939;
}
.secondbanner{
    /* border: 1px solid white ; */
    width: 1519.200px;
    height: 574.25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.secbancon{
    /* border: 1px solid red; */
    width: 579px;
    height: 430px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.secbancon> :first-child{
    font-size: 48px;
    font-weight: 900;
    font-family: Segoe UI;
}
.secbancon> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    font-family: Segoe UI;
    
}
.secbanimg{
    /* border: 1px solid red; */
    width: 579px;
    height: 430px;
    position: relative;
}
.secbanimg img{
    width: 600px;
}
.secbanimg video{
    position: absolute;
    right: 67px;
    top: 95px;
    width: 432px;
    z-index: -1;
}
.thirdbanner{
    /* border: 1px solid white ; */
    width: 1519.200px;
    height: 574.25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.downloadanim{
    border: 2px solid rgb(219, 203, 203);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 314px;
    height: 90px;
    position: absolute;
    top: 77%;
    left: 28%;
}
.downimg{
    /* border: 1px solid white; */
    width: 52px;
    height: 80px;
}
.downimg img{
    /* width: 52px;
    height: 82px; */
    width: 100%;
}
.downdetail{
    /* border: 1px solid white; */
    width: 168px;
    font-size: 16px;
    font-weight: 500;
    font-family:"Martel Sans", sans-serif Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.downdetail> :nth-child(2){
    font-size: 14px;
    color: blue;
    font-weight: 400;
}
.downicon{
    /* border: 1px solid white; */
    width: 48px;
}
.downicon img{
    width: 100%;
}
.thirbanimg{
    /* border: 1px solid red; */
    width: 579px;
    height: 430px;
    position: relative;
}

.thirdbancon{
    /* border: 1px solid red; */
    /* position: relative; */
    width: 579px;
    height: 430px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.thirdbancon> :first-child{
    font-size: 48px;
    font-weight: 900;
    font-family: Segoe UI;
}
.thirdbancon> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    font-family: Segoe UI;
    
}
.thirdbancon img{
    width: 600px;
}
.fourthbanner{
    /* border: 1px solid white ; */
    width: 1519.200px;
    height: 574.25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fourthimg{
    /* border: 1px solid red; */
    width: 579px;
    height: 430px;
    position: relative;
}
.fourthbancon{
    /* border: 1px solid red; */
    /* position: relative; */
    width: 579px;
    height: 430px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.fourthbancon> :first-child{
    font-size: 48px;
    font-weight: 900;
    font-family: Segoe UI;
}
.fourthbancon> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    font-family: Segoe UI;
    
}

.fourthimg img{
    width: 600px;
}
.fourthimg video{
    position: absolute;
    right: 97px;
    top: 37px;
    width: 364px;
    z-index: -1;
}
.fifthbanner{
    /* border: 1px solid white ; */
    width: 1519.200px;
    height: 574.25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fifthimg{
    /* border: 1px solid red; */
    width: 579px;
    height: 430px;
    position: relative;
}

.fifthbancon{
    /* border: 1px solid red; */
    /* position: relative; */
    width: 579px;
    height: 430px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.fifthbancon> :first-child{
    font-size: 48px;
    font-weight: 900;
    font-family: Segoe UI;
}
.fifthbancon> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    font-family: Segoe UI;
}
.fifthbancon img{
    width: 600px;
}
.FAQ{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px ;
    height: 700px;
}
.FAQ> :first-child{
    font-size: 48px;
    font-family: "Martel Sans", sans-serif Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
}
.Questions{
    border: 2px solid white;
    height: 40px;
    width: 122vh;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(45, 45, 45);
    /* padding: auto auto auto auto; */
}
.answers{
    /* width: 0;
    height: 0; */
    border: 2px solid white;
    display: none;
    width: 125vh;
    /* height: 0; */
    font-size: 24px;
    font-weight: 400;
      /* Set initial height to 0 and hide overflow */
      overflow: hidden;
      height: 0;
      /* Add transition for height */
      transition: height 3s ease;
}
.answersactive{
    border: 2px solid white;
    display: block;
    width: 125vh;
    /* height: 110px; */
    /* overflow: auto; */
    height: 150px;
    font-size: 24px;
    font-weight: 400;
    /* opacity:1;
    visibility: visible; */
}
.footer{
    width: 170vh;
    /* border: 1px sold red; */
    height: 300px;
    /* background-color: red; */
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.column{
    width: 300px;
    /* border: 2px solid red; */
    /* height: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap:15px;
}
.column a{
    color: white;
}